@import url("variables-1.css");

body {
    background-color: var(--table-bg-color);
    display: block;
    position: relative;
    width: 99vw;
    height: 97vh;
}

main {
    background-color: var(--table-header-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--table-border-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid var(--table-border-color);
    text-align: left;
    font-size: 1em;
}

th {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-font-color);
}

tr:nth-child(even) {
    background-color: var(--table-hover-bg-color);
}

tr:hover {
    background-color: var(--table-row-hover-font-color);
}

section {
    margin: 20px 0;
}

p {
    padding: 10px;
}

h2 {
    text-align: center;
}